@font-face {
    font-family: irs;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/fonticon/fonticon.eot');
    src: url('../fonts/fonticon/fonticon.eot?#iefix') format('embedded-opentype'), url('../fonts/fonticon/fonticon.woff2') format('woff2'), url('../fonts/fonticon/fonticon.woff') format('woff'), url('../fonts/fonticon/fonticon.ttf') format('truetype')
}

@font-face {
    font-family: irs;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/fonticon/fonticon.eot');
    src: url('../fonts/fonticon/fonticon.eot?#iefix') format('embedded-opentype'), url('../fonts/fonticon/fonticon.woff2') format('woff2'), url('../fonts/fonticon/fonticon.woff') format('woff'), url('../fonts/fonticon/fonticon.ttf') format('truetype')
}

@font-face {
    font-family: irs;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/fonticon/fonticon.eot');
    src: url('../fonts/fonticon/fonticon.eot?#iefix') format('embedded-opentype'), url('../fonts/fonticon/fonticon.woff2') format('woff2'), url('../fonts/fonticon/fonticon.woff') format('woff'), url('../fonts/fonticon/fonticon.ttf') format('truetype')
}

@font-face {
    font-family: irs;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/fonticon/fonticon.eot');
    src: url('../fonts/fonticon/fonticon.eot?#iefix') format('embedded-opentype'), url('../fonts/fonticon/fonticon.woff2') format('woff2'), url('../fonts/fonticon/fonticon.woff') format('woff'), url('../fonts/fonticon/fonticon.ttf') format('truetype')
}

@font-face {
    font-family: irs;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/fonticon/fonticon.eot');
    src: url('../fonts/fonticon/fonticon.eot?#iefix') format('embedded-opentype'), url('../fonts/fonticon/fonticon.woff2') format('woff2'), url('../fonts/fonticon/fonticon.woff') format('woff'), url('../fonts/fonticon/fonticon.ttf') format('truetype')
}

@font-face {
    font-family: digikala;
    src: url('../fonts/digikala/digikala.eot');
    src: url('../fonts/digikala/digikala.eot?#iefix') format('embedded-opentype'), url('../fonts/digikala/digikala.woff2') format('woff2'), url('../fonts/digikala/digikala.woff') format('woff'), url('../fonts/digikala/digikala.ttf') format('truetype')
}
